<h1><%= t('subject_competency.list') %></h1>

<table>
  <tr>
    <th><%= t('activerecord.attributes.subject_competency.competency').capitalize %></th>
    <th><%= t('activerecord.attributes.subject_competency.subject').capitalize %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subject_competencies.each do |subject_competency| %>
  <tr>
    <td><%= subject_competency.competency_id %></td>
    <td><%= subject_competency.subject_id %></td>
    <td><%= link_to t('show'), subject_competency %></td>
    <td><%= link_to t('edit'), edit_subject_competency_path(subject_competency) %></td>
    <td><%= link_to t('destroy'), subject_competency, :confirm => t('are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('subject_competency.new').capitalize, new_subject_competency_path %>
