<h1><%= t('evaluable_competency.list') %></h1>

<table>
  <tr>
    <th><%= t('activerecord.attributes.evaluable_competency.name').capitalize %></th>
    <th><%= t('activerecord.attributes.evaluable_competency.category').capitalize %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @evaluable_competencies.each do |evaluable_competency| %>
  <tr>
    <td><%= evaluable_competency.name %></td>
    <td><%= evaluable_competency.category %></td>
    <td><%= link_to t('show'), evaluable_competency %></td>
    <td><%= link_to t('edit'), edit_evaluable_competency_path(evaluable_competency) %></td>
    <td><%= link_to t('destroy'), evaluable_competency, :confirm => t('are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('evaluable_competency.new').capitalize, new_evaluable_competency_path %>
