<%= nested_form_for(@learning_outcome) do |f| %>

<%= error_explanation_for @learning_outcome %>

    <%= f.hidden_field :subject_id, :value => @subject.id %>

    <p> Datos de <%= @subject.title %> </p>

  <div class="field">
    <%= f.label :statement %><br />
    <%= f.text_area :statement, :rows => 4, :cols => 80 %>
  </div>

  <h4><%= t("evaluation_criteria") %></h4>

  <%= f.fields_for :evaluation_criteria  %>
  <br\>
  <%= f.link_to_add t("evaluation_criterium.new"), :evaluation_criteria %>

  <h4><%= t("tasks") %></h4>

  <%= f.fields_for :tasks  %>
  <br\>
  <%= f.link_to_add t("task.new"), :tasks %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
