<%= f.label :statement %><br />
<%= f.text_area :statement, :rows => 2 %>

<div>
 <%= f.fields_for :nuclear_activities %>
 <br/>
 <%= f.link_to_add t('nuclear_activity.new'), :nuclear_activities %>
</div>
<%= f.link_to_remove t("task.remove") %><br />
