<p id="notice"><%= notice %></p>

  <h2><%= @learning_outcome.subject.title %></h2>

<h3> <%= @learning_outcome.statement %> </h3>

<h4> <%= t('evaluation_criteria') %></h4>
<% if @learning_outcome.evaluation_criteria.blank? %>
  <p><%= t('evaluation_criterium.still_no') %></p>
<% else %>
  <ol class="Alpha">
   <%= render @learning_outcome.evaluation_criteria %>
  </ol>
<% end %>

<h2> <%= t('tasks') %></h2>
<% if @learning_outcome.tasks.blank? %>
  <p><%= t('task.still_no') %></p>
<% else %>
   <ol>
   <%= render @learning_outcome.tasks %>
   </ol>
<% end %>


<%= link_to t('edit'), edit_learning_outcome_path(@learning_outcome, :subject => @learning_outcome.subject) %> |
<%= link_to t('back'), learning_outcomes_path(:subject => @learning_outcome.subject) %>
