<h1><%= t('teaching_unit.list') %></h1>

<table>
  <tr>
    <th><%= t('activerecord.attributes.teaching_unit.title').capitalize %></th>
    <th><%= t('activerecord.attributes.teaching_unit.parent').capitalize %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teaching_units.each do |teaching_unit| %>
  <tr>
    <td><%= teaching_unit.title %></td>
    <td><%= teaching_unit.parent_id %></td>
    <td><%= link_to t('show'), teaching_unit %></td>
    <td><%= link_to t('edit'), edit_teaching_unit_path(teaching_unit) %></td>
    <td><%= link_to t('destroy'), teaching_unit, :confirm => t('are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('teaching unit.new').capitalize, new_teaching_unit_path %>
