<h1><%= t('level_goal.list') %></h1>

<table>
  <tr>
    <th><%= t('activerecord.attributes.level_goal.statement').capitalize %></th>
    <th><%= t('activerecord.attributes.level_goal.level_description').capitalize %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @level_goals.each do |level_goal| %>
  <tr>
    <td><%= level_goal.statement %></td>
    <td><%= level_goal.level_description_id %></td>
    <td><%= link_to t('show'), level_goal %></td>
    <td><%= link_to t('edit'), edit_level_goal_path(level_goal) %></td>
    <td><%= link_to t('destroy'), level_goal, :confirm => t('are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('level_goal.new').capitalize, new_level_goal_path %>
