<h1><%= t('nuclear_activity.list') %></h1>

<table>
  <tr>
    <th><%= t('activerecord.attributes.nuclear_activity.statement').capitalize %></th>
    <th><%= t('activerecord.attributes.nuclear_activity.learning outcome').capitalize %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nuclear_activities.each do |nuclear_activity| %>
  <tr>
    <td><%= nuclear_activity.statement %></td>
    <td><%= nuclear_activity.learning_outcome_id %></td>
    <td><%= link_to t('show'), nuclear_activity %></td>
    <td><%= link_to t('edit'), edit_nuclear_activity_path(nuclear_activity) %></td>
    <td><%= link_to t('destroy'), nuclear_activity, :confirm => t('are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('nuclear activity.new').capitalize, new_nuclear_activity_path %>
