<p id="notice"><%= notice %></p>

<p>
  <b><%= t('activerecord.attributes.nuclear_activity.statement').capitalize %>:</b>
  <%= @nuclear_activity.statement %>
</p>

<p>
  <b><%= t('activerecord.attributes.nuclear_activity.learning outcome').capitalize %>:</b>
  <%= @nuclear_activity.learning_outcome_id %>
</p>


<%= link_to t('edit'), edit_nuclear_activity_path(@nuclear_activity) %> |
<%= link_to t('back'), nuclear_activities_path %>
