<%= form_for(@subject, :html => { :multipart => true }) do |f| %>

<%= error_explanation_for @subject %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :abbreviation %><br />
    <%= f.text_field :abbreviation %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.number_field :value %>
    <%= f.select :value_unit, translate_options_for(Subject::UNITS) %>
  </div>
  <div class="field">
    <%= f.label :teaching_hours %><br />
    <%= f.number_field :teaching_hours %>
  </div>
  <div class="field">
    <%= f.label :logo %><br />
    <%= f.file_field :logo %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :training_level_id %><br />
    <%= f.collection_select :training_level_id, TrainingLevel.modules(), :id, :name %>
  </div>

  <%= render 'association_of', :subject => f.object, :relation => :level_goal , :show => :statement %>
  <%= render 'association_of', :subject => f.object, :relation => :competency , 
                                                     :show => :statement %>
  <%= render 'association_of', :subject => f.object, :relation => :qualification, :show => ['(', :code, ')',  :statement]  %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
