<p id="notice"><%= notice %></p>

<p style="position: relative; left: -50px;">
</p>

<div style="">
  
  <h1 style="text-align: center;"><%= image_tag @subject.logo.url(:small), :style => "float:left;" %> <%= @subject.title %></h1>
   
   <div style="text-align: center;">
   <em>
     <%= t('activerecord.attributes.subject.code').capitalize %> <%= @subject.code %>
     -
     <%= @subject.value %> <%= translate_option_for Subject::UNITS, @subject.value_unit %>
     -
     <%= @subject.teaching_hours %> 
     <%= t('activerecord.attributes.subject.teaching_hours').capitalize %>
     </em>
     <%= @subject.training_level.name %><br/>
     <%= link_to @subject.url, @subject.url unless @subject.url.blank? %><br/>
   </div>
   
   
   <p>
     <%= RedCloth.new(sanitize(@subject.description), [:filter_html, :filter_styles, :filter_classes, :filter_ids]).to_html.html_safe %>
   </p>
   

<%= render 'show_associations_of', :subject => @subject, :association => :level_goal %>
<%= render 'show_associations_of', :subject => @subject, :association => :competency %>
<%= render 'show_associations_of', :subject => @subject, :association => :qualification %>

<%= link_to t('learning_outcomes'), learning_outcomes_path(:subject => @subject) %> |
<%= link_to t('edit'), edit_subject_path(@subject) %> |
<%= link_to t('back'), subjects_path(:scope => @subject.training_level) %>

</div>
